vendor/*
!vendor/.htaccess
.vscode/*
/modules/Mobile/api/ws/apicache
/test
logs/*
storage/*
log/*
logs/*
cache/*
user_privileges/*
test/templates_c/v7/*
/customerportal/writeable/templates_c/default
tabdata.php
parent_tabdata.php
config.inc.php
*.zip
*.sql
cache/
logs/
uploads/